header {
  .navbar {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .brand {
    .navbar-brand {
      color: var(--bs-info) !important;
      font-weight: bold;
    }
    margin-left: 2rem;
  }

  .left-nav {
    margin-right: 4rem;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;

    .nav-item {
      display: flex;
      flex-direction: row;
      gap: 0.3rem;
    }

    .nav-item.sign-in {
      gap: 0.1rem;
    }
  }
}