
  .registration-form {
    margin: 5rem auto 0;
    padding: 4rem;
    box-sizing: border-box;
    width: 50%;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .form-title {
      padding-bottom: 1.5rem;
      text-align: center;
    }

    .registration-input {
      margin-bottom: 1.5rem;
    }

    .already-have-account {
      margin-top: 1rem;
      text-align: right;
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .submit-button {
        width: 100%;
      }

    }

  }
