.sidebar-nav-item {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.3rem;
  padding: 0.2rem;
  font-weight: bolder;
  border-radius: 0.2rem;
  font-size: 18px;
  user-select: none;

  .material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 0,
            'opsz' 48
  }
}

.sidebar-nav-item:hover {
  background-color: var(--bs-gray-200);
}

.sidebar-nav-item.active {
  background-color: rgba(13, 202, 240, 0.53);
}