.sidebar {
  height: 100%;
  width: 150px;

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-top: 0.2rem;

    .sidebar-nav-item {
      width: 100%;
      border: none;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      justify-content: left;
      gap: 0.1rem;
      padding: 0.2rem;
      font-weight: bold;
      border-radius: 0.2rem;

      .material-symbols-outlined {
        font-variation-settings:
                'FILL' 0,
                'wght' 700,
                'GRAD' 0,
                'opsz' 48
      }
    }

    .sidebar-nav-item:hover {
      background-color: var(--bs-gray-200);
    }

    .sidebar-nav-item.active {
      background-color: rgba(13, 202, 240, 0.53);
    }
  }
}

.sidebar.dark {

}