.sidebar {
  height: fit-content;
  width: fit-content;

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-top: 0.2rem;

    .dropdown-items {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }

    .sidebar-nav-item.dropdown {
      cursor: pointer;
      padding:0;
      margin-left: 5px;

      .dropdown-icon {
        height: 5px;
        padding-top: 2px;
      }

      .dropup-icon {
        height: 5px;
        padding-top: 3px;
      }
    }

    .sidebar-nav-item.dropdown:hover {
      background-color: transparent;
    }
  }
}

.sidebar.dark {

}