.app {
    height: 100%;

    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;


}

a, a:hover, a:focus, a:active {
    text-decoration: none!important;
    color: inherit!important;
}