.main-page {
  height: 100%;

  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 2rem 5rem;

  .organization-tab {


    .your-workspaces {
      color: var(--bs-gray-500);
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    .card-container {
      display: flex;
      gap: 1rem;
    }

    .organization-form {

      .form-input {
        margin-bottom: 1rem;
      }
    }
  }
}