.image-card {
   width: 14rem;
   padding: 0.5rem;
   border-radius: 0.5rem;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   box-sizing: border-box;
   min-height: 7rem;
   cursor: pointer;

   .card-header {
      text-align: center;
      color: var(--bs-gray-700);
      font-size: 18px;
      border-bottom: var(--bs-gray-300) solid 1px;
   }

   .card-description {
      color: var(--bs-gray-600);
      font-size: 14px;
      box-sizing: border-box;
      overflow: hidden;
      height: 5rem;
      padding: 0.5rem;
   }

   .card-icon {
      color: var(--bs-gray-600);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center;
   }
}